.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #666;
  border: 2px solid #666;
  color: white;
  text-align: center;
  font: 32px Arial, sans-serif;
  box-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }




}
